<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <script>
    window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
    window._template = {
        directory: "{{ template.directory }}",
        name: "{{ template.name }}",
        suffix: "{{ template.suffix }}"
    };
  </script>
  <script type="module" blocking="render" fetchpriority="high" src="https://cdn.intelligems.io/esm/ccd9cfb9f51b/bundle.js" async></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        
      </div>
    </div>

    {{ tracking_code }}
    
    <script>
    (function(d) {
        if (document.addEventListener) document.addEventListener('ltkAsyncListener', d);
        else {
            e = document.documentElement;
            e.ltkAsyncProperty = 0;
            e.attachEvent('onpropertychange', function(e)
 
                {
                    if (e.propertyName == 'ltkAsyncProperty') {
                        d();
                    }
 
                });
        }
    })(function()
        {
            _ltk.SCA.CaptureEmail('checkout_email');
        }
    );
</script>
 
<!-- Listrak Analytics - Javascript Framework -->
<script type="text/javascript">
    var biJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
    (function(d, s, id, tid, vid)
 
        {
            var js, ljs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = biJsHost + "cdn.listrakbi.com/scripts/script.js?m=" + tid + "&v=" + vid;
            ljs.parentNode.insertBefore(js, ljs);
        }
    )(document, 'script', 'ltkSDK', 'JumhUVB85jcp', '1');
</script>

<!---new Script for checkout page -->
    
  
    {% assign hidepaypal = false %}
    {% for item in checkout.line_items %}
    {% if item.product.tags contains "hidepaypal" %}
    {%assign hidepaypal = true%}
    {%endif%}
    {%endfor%}

    {% if hidepaypal == true %}
          <style>
      ul._1axiYDNHVzBHv3h8UhmWtr li:nth-child(3){
  display:none !important;
}
    </style>
    
    <script>

      // var exp3 = document.querySelectorAll("ul._1axiYDNHVzBHv3h8UhmWtr li iframe");
      //   console.log("Count of images: " + targetImages.length);

      // const listItems = document.querySelectorAll('ul._1axiYDNHVzBHv3h8UhmWtr li ');
      //     for (let i = 0; i <= listItems.length - 1; i++) {
      //     console.log(listItems[i]);
      //     }

       setTimeout( 
        function() {
          var exp = document.getElementsByClassName('shown-if-js')[0];
          // var exp2 = document.getElementsByClassName('_1axiYDNHVzBHv3h8UhmWtr')[0];
          // console.log(exp2);
          var exp3 = document.querySelectorAll("ul._1axiYDNHVzBHv3h8UhmWtr li iframe");
          if (exp3 != null) {
            exp3.remove();
          }
        }, 1000);

      var paypal1 = document.querySelectorAll("[data-select-gateway='72182202539']")[0]
      var paypal2 = document.querySelectorAll("[data-select-gateway='72182202539']")[0]
      if (paypal1 != null) {
        paypal1.remove();
      }
      if (paypal2 != null) {
        paypal2.getElementsByClassName("radio__input")[0].remove()
      }
    </script>
    {%endif%}
 

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

    
  </body>
</html>
